/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*******************************************Global Styles*****************************************************/
a {
  color: #0366d6;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow: hidden;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 6vw;
}

h3 {
    font-size: 5vw;
}

h4 {
    font-size: 24px;
}

/********************************************Header Styles****************************************************/
.header {
    position: absolute;
    z-index: 1;
    width: 98%;
}

.img-fluid {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header .company-logo {
    text-align: center;
}

    .header .social-media {
        padding: 10px;
        text-align: right
    }

    .header .social-media-msg {
        font-family: 'Bebas Neue', sans-serif;
        color: white;
        font-size: 3vmin;
        text-align: center;
    }

/********************************************* Body Styles ***************************************************/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

section.active {
    visibility: visible;
}

.section-main {
    background-image: url('../images/backgrounds-04.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.section-main-message {
    text-align: center;
    padding-top: 30vh;
}

.section-main-image {
    text-align: left;
    width: inherit;
    height: inherit;
    background-image: url('../images/backgrounds-02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.section-main-sub-message {
    text-align: center;
    padding-top: 35vh;
    font-size: 24px;
}

.section-product-add-to-cart {
    padding-top: 20px;
}

.section-product-name {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.section-product-tagline-left {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-transform: uppercase;
    top: calc(50% - 12px);
    position: fixed;
    font-weight: bold;
    left: -20px;
}

.section-product-tagline-right {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-transform: uppercase;
    top: calc(50% - 12px);
    position: fixed;
    font-weight: bold;
    right: -20px;
}

.section-product-type-left {
    margin-top: 120px;
    text-align: right;
}

.section-product-type-right {
    margin-top: 120px;
    text-align: left;
}

.section-product-type-info {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-product-type-img {
    width: 60px;
}

.section-item-discription {
    text-transform: lowercase;
}

.section-product-discription {
    text-transform: uppercase;
}

.section-product {
    position: absolute;
    z-index: 0;
    width: 98%;
    padding-top: 165px;
}

.section-product-img {
    width: 260px;
    transition: width 0.3s;
}

.section-product-img:hover {
    width: 270px;
}

.section-product-detail-mobile {
    display: none;
}

.section-product-detail-pc {
    display: block;
}

.product-description {
    height: 30%;
    width: 100%;
    background-color: white;
}

.product-description-panel {
    bottom: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
}

.product-description-info {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
}

.product-description-imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.applePear-bg {
    background-image: url('../images/backgrounds-03.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.passionfruit-bg {
    background-image: url('../images/backgrounds-05.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.guavapink-bg {
    background-image: url('../images/backgrounds-01.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.pomegranate-bg {
    background-image: url('../images/backgrounds-06.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.aboutus-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

/********************************************* IPad *******************************************************************/
@media all and (max-width: 769px) {
    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    .header {
        width: 97%;
    }
}

/********************************************* IPad *******************************************************************/

@media all and (max-width: 414px) {
   h1 {
        font-size: 48px;
   }
	
	h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .header {
        width: 96%;
    }
	
	.section-main-sub-message {
		font-size: 16px;
	}
	
	.facebookIcon {
        content: url("../images/facebook_icon16.png");
    }
    .instagramIcon {
        content: url("../images/instagram_icon16.png");
    }
	
	.img-fluid {
		content: url("../images/logo-mobile.png");
	}

    .section-main-image {
        background-image: url("../images/home-foreground-mobile.png");
    }

    .section-product-img {
        width: 180px;
        transition: width 0.3s;
    }

    .section-product-img:hover {
    width: 185px;
    }

    .section-product-detail-mobile {
        display: block
    }

    .section-product-detail-pc {
        display: none;
    }

    .section-product {
        padding-top: 100px;
    }
}

